<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{shared/layout}">
<head>
    <title>Clients</title>
</head>
<body>
<section layout:fragment="header">
    <h1>Salle</h1>
<ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li class="active">Liste des Salles</li>
</ol>
</section>
<div layout:fragment="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Liste des Salles</h3>
            <div class="box-tools pull-right">
                <a href="salle/add" type="button" class="btn btn-box-tool"><i class="fa fa-plus"></i></a>
                <br clear="all" />
            </div>
        </div>
        <div class="box-body no-padding">
            <table class="table table-striped">
                <tr>
                    <th>ID</th>
                    <th>numero</th>
                    <th>capacite</th>
                    <th>Action</th>
                    
                </tr>
                <tr th:each="aNationalite : ${listSalles}">
                    <td th:text="${aNationalite.id}"></td>
                    <td th:text="${aNationalite.numero}"></td>
                    <td th:text="${aNationalite.capacite}"></td>
                    <td>
                        <a th:href="${'/salle/edit/' + aNationalite.id}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> |
                        <a th:href="${'/salle/delete/' + aNationalite.id}"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="box-footer clearfix">
            <ul class="pagination pagination-sm no-margin pull-right">
                <li><a href="/parametre/nationalite/1"><i class="fa fa-fast-backward" aria-hidden="true"></i>
                </a></li>
                <li th:each="p : ${#numbers.sequence(1, endIndex/beginIndex)}" th:class="${p == currentIndex} ? 'active' : ''">
                    <a th:href="${'/parametre/nationalite/' + p}" th:text="${p}"></a>
                </li>
                <li><a th:href="${'/parametre/nationalite/' + endIndex}"><i class="fa fa-fast-forward" aria-hidden="true"></i>
                </a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
